/* variables */
:root {
    /* dark shades of primary color */
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 90%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for heading */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraph */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --clr-gold: #FFCF00;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25em;
    --radius: 0.5em;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/* global styles */
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 1.1em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

h1 {
    margin: 50px 0 30px;
    text-align: center;
}

.fraq-container {
    max-width: 600px;
    margin: 0 auto;
}

.fraq {
    background: transparent;
    border: 1px solid var(--clr-grey-6);
    border-radius: var(--radius);
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: var(--transition);
    text-align: left;
}

.fraq.active {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

.fraq.active::before,
.fraq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color: var(--clr-primary-5);
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.fraq.active::before {
    color: var(--clr-primary-5);
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.fraq-title {
    margin: 0 35px 0 0;
}

.fraq-text {
    display: none; 
    margin: 30px 0 0;
}

.fraq.active .fraq-text {
    display: block;
}

.fraq-toggle {
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.fraq-toggle:focus {
    outline: 0;
}

.fraq-toggle .fa-regular {
    display: none;
}

.fraq.active .fraq-toggle .fa-regular {
    display: block;
}

.fraq.active .fraq-toggle .fa-solid{
    display: none;
}